*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    height: 80vh;
    width: 100%;
    background: linear-gradient(rgb(196, 95, 95),rgb(196, 95, 95));
}
section {
    padding: 500px 35%;
}
    
